/* start extened classes */
.my-button, .about button, .works button, .experience button, .skills button, .contact-b {
  color: #fff;
  background-color: #F4AD24;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  height: 50px;
  cursor: pointer; }

.main-h, .works h2, .experience h2, .skills h2, .contact h2 {
  font-size: 100px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #dde;
  margin-top: 80px; }

.second-h, .works h3, .experience h3, .skills h3, .contact h3 {
  color: #333;
  font-weight: 700;
  margin-bottom: 20px; }

.transition, .show li, .show li a, .works .works-imgs .imgs, .works .works-imgs .imgs:hover .overlay {
  transition: .5s all ease-in-out;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out; }

/* end extended classes */
.nav-icon {
  /* start icon nav-bar for small and medium screens */
  z-index: 1000;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 45px;
  background-color: #505865;
  border: 0;
  border-radius: 5px;
  cursor: pointer; }

/* end icon nav-bar for small and medium screens */
.all-header {
  position: relative;
  overflow: hidden;
  height: 100vh; }

.show {
  /* start classes for show dropdown menu in small am medium screens */
  display: block !important;
  width: 100%;
  background-color: rgba(35, 42, 52, 0.7);
  top: 65px;
  right: 20px;
  height: 357px;
  transition: .5s all ease-in-out;
  position: fixed;
  overflow: hidden; }
  .show ul {
    padding-right: 35px; }
  .show li {
    padding: 10px; }
  .show li:hover {
    background-color: rgba(35, 42, 52, 0.8); }
  .show li a {
    color: gainsboro; }

/* end classes for show dropdown menu in small am medium screens */
aside {
  background-color: #232A34;
  border-right: 1px solid #505865;
  position: fixed !important;
  height: 100vh;
  overflow: hidden;
  z-index: 999; }
  aside .scroll-bar {
    overflow: auto;
    width: 112%;
    height: 102vh; }
  aside .brand {
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    padding: 60px 0;
    border-bottom: 1px solid #505865;
    padding-right: 7px;
    font-family: initial;
    border-bottom: 1px solid #505865; }
  aside ul {
    padding-left: 0px; }
    aside ul li {
      list-style: none;
      text-align: center;
      padding: 30px 0;
      border-bottom: 1px solid #505865;
      color: #505865;
      padding-right: 13px; }
      aside ul li a {
        text-decoration: none !important;
        color: #505865;
        font-size: 20px;
        width: 60px; }
      aside ul li .active {
        color: #F4AD24; }
      aside ul li i {
        font-size: 35px !important; }
    aside ul li:hover a {
      color: #F4AD24;
      cursor: pointer; }

/* end side bar style classes */
header {
  /* start header style classes */
  position: absolute !important;
  right: 0;
  height: 100vh;
  background-image: url(../images/home_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center top; }
  header .header-text {
    margin-left: 10%;
    color: #fff; }
    header .header-text h1 {
      font-weight: bold;
      font-size: 75px; }
    header .header-text p {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 50px; }

/* end header style classes */
/* start (about) section */
.about {
  padding: 0 70px !important; }
  .about h2 {
    margin-top: 80px; }
  .about h3 {
    margin-bottom: 40px; }
  .about p {
    color: #999;
    font-size: 19px;
    line-height: 1.7; }
  .about .about-intro p {
    color: #666;
    font-size: 20px;
    font-family: initial;
    letter-spacing: 1.5px;
    line-height: 1.7; }
  .about .about-intro i {
    color: #F4AD24; }
  .about button {
    width: 110px;
    font-size: 18px;
    margin: 40px 0 65px; }

.about-img {
  background-image: url(../images/avada-resume-about.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%; }

/*end (about) section */
/* start (works) section */
.works-img {
  background-image: url(../images/works_bg_900x1600.jpg);
  background-position: center top;
  background-size: cover;
  height: 100%; }

.works {
  padding: 0 70px !important;
  background-color: #F2F2F2; }
  .works h3 {
    margin-bottom: 45px; }
  .works button {
    margin: 40px 0 65px; }
  .works .works-imgs .imgs {
    margin-bottom: 30px;
    height: 200px; }
  .works .works-imgs .imgs:hover .overlay {
    opacity: 1 !important; }
  .works .works-imgs .imgs .overlay {
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(35, 42, 52, 0.9);
    position: absolute;
    opacity: 0; }
  .works .works-imgs .imgs .overlay a {
    color: #F4AD24;
    position: absolute;
    left: 33%;
    top: 44%; }
  .works .works-imgs img {
    height: 100%;
    width: 100%; }

/* end (works) section */
/* start (experience) section */
.experience-img {
  background-image: url(../images/experience_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100%; }

.experience {
  padding: 0 70px !important;
  background-color: #1C212A; }
  .experience h2 {
    color: #282F3C; }
  .experience h3 {
    margin-bottom: 45px;
    color: #fff; }
  .experience h4 {
    color: #eee;
    margin: 60px 0 30px;
    border-bottom: 1px solid #F4AD24;
    display: inline-block;
    padding: 0 5px 20px; }
  .experience h5 {
    color: #aaa;
    font-size: 18px; }
  .experience p {
    color: #6F8890;
    line-height: 2.5; }
  .experience .experience-intro {
    color: #6F8890;
    font-size: 20px;
    font-family: initial;
    letter-spacing: 1.5px;
    line-height: 2; }
  .experience button {
    margin: 40px 0 65px; }

/* end (experience) section */
/* start (skills) section */
.skills-img {
  background-image: url(../images/skill_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100%; }

.skills {
  padding: 0 70px !important;
  margin-bottom: 35px; }
  .skills h2 {
    margin-top: 80px; }
  .skills h3 {
    margin-bottom: 45px; }
  .skills h4 {
    margin: 70px 0 25px;
    display: inline-block;
    font-weight: 600;
    color: #555; }
  .skills p {
    color: #999;
    font-size: 19px;
    line-height: 1.7; }
  .skills .skills-intro {
    color: #999;
    font-size: 20px;
    font-family: initial;
    letter-spacing: 1.5px;
    line-height: 1.7; }
  .skills button {
    margin: 40px 0 65px; }
  .skills .progress-h {
    padding: 20px 0; }
  .skills .progress-pirsent {
    width: 100%;
    height: 12px;
    background-color: #ddd; }
  .skills .progress-pirsent span {
    display: block;
    background-color: #F4AD24;
    height: 100%; }

/* end (skills) section */
/* start (contact) section */
.contact-img {
  background-image: url("../images/contact_bg.jpg");
  background-position: center top;
  background-size: cover;
  height: 100%; }

.contact-b {
  border-radius: 0;
  height: 100px;
  font-size: 25px; }

.contact {
  padding: 0 70px !important;
  margin-bottom: 90px; }
  .contact h2 {
    margin-top: 90px; }
  .contact h3 {
    margin-bottom: 45px; }
  .contact .contact-text {
    overflow: hidden; }
    .contact .contact-text p {
      font-size: 18px;
      color: #444; }
    .contact .contact-text i {
      color: #F4AD24;
      width: 51px; }
    .contact .contact-text a:hover {
      color: #007BFF !important; }
  .contact .social {
    text-align: center; }
    .contact .social h3 {
      font-size: 25px;
      color: #666; }
    .contact .social a {
      margin-right: 15px; }

/* end (contact) section */
@media screen and (max-width: 1200px) {
  .header-text h1 {
    font-size: 50px !important; }

  .header-text p {
    font-size: 18px !important;
    margin-bottom: 35px !important; }

  button {
    font-size: 18px !important; }

  .about-img, .experience-img {
    height: 100vh;
    background-position: center; }

  .skills-img, .clients-img, .contact-img {
    background-position: center top;
    height: 100vh; } }
@media screen and (max-width: 768px) {
  h2 {
    font-size: 60px !important; }

  h3 {
    font-size: 35px; }

  p {
    font-size: 20px !important; }

  .header-text h1 {
    font-size: 33px !important; }

  .header-text p {
    font-size: 14px !important;
    margin-bottom: 20px !important;
    text-align: left; }

  button {
    font-size: 16px !important; }

  .small {
    padding: 0 35px !important; }

  .social {
    text-align: left !important;
    margin-top: 30px; }
    .social h3 {
      margin-bottom: 25px !important; }
    .social i {
      font-size: 30px !important; } }
@media screen and (max-width: 576px) {
  h2 {
    font-size: 40px !important; }

  h3 {
    font-size: 25px; }

  p {
    font-size: 16px !important; }

  .small {
    padding: 0 25px !important; }

  .say {
    float: none !important;
    width: 90% !important;
    margin-top: 20px; }

  .say p {
    margin-bottom: 10px !important; }

  .clients-say img {
    width: auto !important; }

  .works-imgs .imgs {
    height: 200px !important;
    max-width: 450px !important; } }
@keyframes skills {
  0% {
    width: 0%; } }

/*# sourceMappingURL=style.css.map */
